html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-color: #2e2e2e;

    display: flex; 
    justify-content: center;
    align-items: center;
}

.card {
    height: 400px;
    width: 700px;
    border: 1px solid #1a1a1a;
    background-color: #fffafa;
    color: #1a1a1a;
    font-family: "Garamond", serif
}

#top {
    height: 250px;
}

#top > div {
    height: 100%;
    display: inline-block;
}

#top .left {
    width: 250px;
    float: left;
}

#top .left img {
    height: 200px;
    margin: 25px;
}

#top .right {
    width: 450px;
    float: right;
}

#top .right header {
    text-align: center;
}

#top .right header h2 {
    margin-top: 25px;
    margin-bottom: .2em;
    font-size: 1.8em;
}

#top .right header h3 {
    margin: .2em 0;
    font-size: 1.3em;
}

#top .right ul {
    font-size: 1.2em; 
    list-style-type: none;
    padding: 0 20px;
}

#top .right ul li {
    margin: .2em 0;
}

#bottom ul {
    margin: .2em;
    font-size: 1.2em;
    list-style-type: none;
}

#buttom ul li img {
    height: 16px;
}