* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 16px;
}

.app {
  text-align: center;
}

/* HEADER */

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #222;
  height: 50px;
  width: 100%;
  padding: 10px 0 20px 0;
  color: white;
}

.header a {
  color: white;
}

.header a:hover {
  color: #c0c0c0;
}

#logo {
  display: block;
  float: left;
  margin-left: .6em;
}

#logo h2 {
  display: inline-block;
}

.app-logo {
  display: inline-block;
  height: 50px;
  margin-right: .5em;
}

#nav {
  float: right;
  display: block;
  margin: .7em .5em 0 0;
}

#nav ul {
  text-align: center;
  font-size: 1.2em;
}

#nav li {
  display: inline-block;
  padding: .4em;
}

#nav a {
  text-decoration: none;
}

/* BANNER */

.banner{
  margin-top: 80px;
  width: 100%;
  height: 60vh;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.banner-text-container {
  position: absolute;
  top: 15%;
  left: 50%;
  margin: 0 auto;
  z-index: 100;
  color: white;
  /*width: 80%;*/
}

.banner-text {
  position: relative;
  padding: .6em 2em;
  background-color: rgba(0, 0, 0, .6);
  left: -50%;
}

.banner-text h1 {
  font-size: 2.75em;
}

.banner-text h2 {
  padding-top: .4em;
  font-size: 2.29em;
}

.banner-text p {
  margin-top: .5em;
  font-size: 1.3em;
}

#banner-links-container {
  position: absolute;
  /* this is a kludge but i'm tired of this crap*/
  top: 35%;
  left: 50%;
  width: 100%;
  text-align: center;
}

#banner-links {
  position: relative;
  left: -50%;
}

.banner-link-row {
  display: block;

}

.banner-link {
  display: inline-block;
  background-color: rgb(0, 0, 0);
  border: 1px solid aliceblue;
  width: 30%;
  max-width: 195px;
  height: 50px;
  line-height: 50px;
  margin: 1em 1.5em;
  padding: 1em;
}

.banner-link a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.banner-link-default {
  display: block;
  height: 100%;
}

/* this class is only for if the size is too small*/
.banner-link-small {
  display: none;
}

@media (max-width: 730px) {
  .header h2 {
    font-size: 1.2em;
  }

  .banner-text h1 {
    font-size: 2.0em;
  }

  .banner-text p {
    font-size: 1.0em;
  }
}

/* if size is this small, don't display words, but
   images or alternative instead */
@media (max-width: 625px) {
  .banner-link-default {
    display: none;
  }

  .banner-link {
    width: 20%;
    margin: .3em;
  }

  .banner-link-small {
    display: block;
    height: 100%
  }

  .banner-link-small img{
    height: 55px;
    width: 55px;
  }

  #github-logo {
    background-color: white;
    border-radius: 100%;
  }

  #linkedin-logo {
    width: 80px;
    height: 15px;
  }
}

@media (max-width: 450px) {

  .banner-text-container {
    top: 15%;
  }
  .banner-text h1 {
    font-size: 2.0em;
  }

  .banner-text p {
    font-size: 1.0em;
  }
}

/* General Text Content */
.main-content {

}

.main-content h1 {
  text-align: center;
  font-size: 3.0em;
  margin-bottom: .3em;
}

/* About Page Content*/
#about-page-content {
  margin: 1em 0;
  text-align: left;
}

#about-page-content p {
  margin-bottom: 1em;
}
.main-content {
  display: block;
  /*overflow: auto;*/
}

#about-page-content .main-content .content-image {
  display: inline-block;
  float: left;
  text-align: left;
  margin: 1em;
  border: 1px solid black;
}

#about-page-content .main-content .content-image img {
  height: 450px;
  width: 253px;
}

.main-content .content-image p {
  margin-top: -.3em;
  text-align: center;
  font-size: .9em;
  font-weight: bold;
}

.main-content .content-list {
  margin-top: 2.0em;
  display: block;
  text-align: center;
}

.main-content .content-list h2 {
  text-decoration: underline;
  margin-bottom: 1.0em;
}

.main-content .content-list ul {
  list-style-type: none;
  font-size: 18px;
}

.main-content .content-list li {
  font-size: 1.3em;
  margin: .5em;
}

.main-content .content-text-section {
  margin-top: 3em;
}

.main-content p {
  font-size: 1.5em;
  text-align: center;
}

.list-key {
  font-weight: bold;
}

#about-page-content-bottom {
  display: block;
  margin: 0 1em .5em 1em;
}

@media (max-width: 450px) {

  .main-content .content-image {
    display: block;
    text-align: center;
    float: none;
    border: none;
  }

  #about-page-content p, #about-page-content ul {
    font-size: 16px;
  }
}

/* Home Page Content*/

#home-page-content {
  margin: 1em .5em;
}


#home-page-content p {
  font-size: 18px;
  margin-top: .5em;
}

#short-text {
  padding: .5em;
  text-align: center;
}

#short-text p {
  font-size: 16px;
}

#short-text a {
  font-weight: bold;
  text-decoration: none;
  color: #8b0000;
}
#short-text .paragraph-wrapper {
  border: 2px solid black;
  padding: 2em;
  margin: 0 auto;
  width: 60%;
}

#home-page-content .content-image {
  margin: 1em;
}
#home-page-content .content-image p {
  font-size: 14px;
}

/*Interruption Bar*/

.interrupt-bar {
  display: block;
  height: 300px;
  background-color: black;
  color: white;
  padding: 1em;
}

.interrupt-bar p {
  font-size: 18px;
  margin-top: .5em;
}
.interrupt-bar-link {
  display: inline-block;
  width: 20%;
  height: 75px;
  border: 2px solid white;
  margin: 2em;
  background-color: white;
}

.interrupt-bar-link a {
  text-decoration: none;
}

.interrupt-bar-link-inner {
  height: 100%;
}

.interrupt-bar-link p {
  margin-top: .8em;
  color: black;
  font-weight: bold;
  font-size: 1.3em;
}

.interrupt-links-container {
  margin-top: 1.5em;
}

/* No Match Page*/

#no-match-outer {
  margin-top: 80px;
}

#no-match-outer img {
  height: 100vh;
  margin: 0 auto;
}

@media (min-width: 1225px) {
  #no-match-outer img {
    width: 100vw;
  }
}

#no-match-outer .banner-text-container {
  display: block;
  margin: 0 auto;
  top: 250px;
}
