* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.app {
  text-align: center;
}

.header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.header a {
  color: white;
}
#logo {
  display: inline-block;
  float: left;
}

#logo h2 {
  display: inline-block;
  float: right;
}

.app-logo {
  display: inline-block;
  height: 50px;
  margin-right: .5em;
}

.homepage {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
