* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 16px;
}

.app {
  text-align: center;
}

/* HEADER */

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #222;
  height: 50px;
  width: 100%;
  padding: 10px 0 20px 0;
  color: white;
}

.header a {
  color: white;
}

.header a:hover {
  color: #c0c0c0;
}

#logo {
  display: block;
  float: left;
  margin-left: .6em;
}

#logo h2 {
  display: inline-block;
}

.app-logo {
  display: inline-block;
  height: 50px;
  margin-right: .5em;
}

#nav {
  float: right;
  display: block;
  margin: .7em .5em 0 0;
}

#nav ul {
  text-align: center;
  font-size: 1.2em;
}

#nav li {
  display: inline-block;
  padding: .4em;
}

#nav a {
  text-decoration: none;
}

/* BANNER */

#banner{
  margin-top: 80px;
  width: 100%;
  height: 60vh;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#banner-text-container {
  position: absolute;
  top: 15%;
  left: 50%;
  margin: 0 auto;
  z-index: 100;
  color: white;
  /*width: 80%;*/
}

#banner-text {
  position: relative;
  padding: .6em 2em;
  background-color: rgba(0, 0, 0, .6);
  left: -50%;
}

#banner-text h1 {
  font-size: 4em;
}

#banner-text h2 {
  padding-top: .4em;
  font-size: 2.29em;
}

#banner-text p {
  margin-top: .5em;
  font-size: 1.5em;
}

#banner-links-container {
  position: absolute;
  /* this is a kludge but i'm tired of this crap*/
  top: 35%;
  left: 50%;
  width: 100%;
  text-align: center;
}

#banner-links {
  position: relative;
  left: -50%;
}

.banner-link-row {
  display: block;

}
.banner-link {
  display: inline-block;
  background-color: rgb(0, 0, 0);
  border: 1px solid aliceblue;
  width: 30%;
  max-width: 195px;
  height: 50px;
  line-height: 50px;
  margin: 1em 1.5em;
  padding: 1em;
}

.banner-link a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.banner-link-default {
  display: block;
  height: 100%;
}

/* this class is only for if the size is too small*/
.banner-link-small {
  display: none;
}
/*

@media (max-width: 980px) {
  .banner-link a {
    font-size: .8em;
  }
}
*/

@media (max-width: 1010px) {
  #banner-text h1 {
    font-size: 2.75em;
  }

  #banner-text p {
    font-size: 1.3em;
  }
}

@media (max-width: 730px) {
  .header h2 {
    font-size: 1.2em;
  }

  #banner-text h1 {
    font-size: 2.0em;
  }

  #banner-text p {
    font-size: 1.0em;
  }
}

/* if size is this small, don't display words, but
   images or alternative instead */
@media (max-width: 625px) {
  .banner-link-default {
    display: none;
  }

  .banner-link {
    width: 25%;
  }
  .banner-link-small {
    display: block;
    height: 100%;
  }
}

@media (max-width: 450px) {

  #banner-text-container {
    top: 15%;
  }
  #banner-text h1 {
    font-size: 1.5em;
  }

  #banner-text p {
    font-size: .7em;
  }
}